Source: kde-config-snap
Section: unknown
Priority: optional
Maintainer: Soumyadeep Ghosh <soumyadghosh@ubuntu.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 libkf6kcmutils-dev, 
 cmake, 
 libsnapd-qt-dev, 
 extra-cmake-modules
Standards-Version: 4.6.2
Homepage: https://invent.kde.org/soumyadghosh/snap-kcm

Package: kde-config-snap
Architecture: any
Multi-Arch: foreign
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Snap permissions management KCM
 Plasma System Settings module for managinng permissions of Snap apps.
 .
 The System Settings module allows users to changing what permissions have
 been granted to installed Snap applications.
